body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background: url("fondo5.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  padding: 5%;
  overflow-x: hidden;
  
}

#star-container {
  position: fixed; /* Fija el contenedor para que ocupe toda la pantalla */
  top: 0;
  left: 0;
  width: 100vw; /* Asegura que cubra todo el ancho de la ventana */
  height: 100vh; /* Asegura que cubra todo el alto de la ventana */
  overflow: hidden; /* Oculta solo las estrellas fuera del área visible */
  pointer-events: none; /* Permite interactuar con otros elementos */
  z-index: 100; /* Asegura que esté encima del contenido */
}


.child {
  margin: 20px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  display: inline-block;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  color: black;
  text-align: center;
}

.stars {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: gold;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.add-star {
  background-color: green;
}

.add-star:hover {
  background-color: darkgreen;
}

.remove-star {
  background-color: red;
}

.remove-star:hover {
  background-color: darkred;
}

.add-child-button:hover {
  background-color: #0056b3;
}

.shooting-star {
  position: absolute;
  width: 3px;
  height: 100px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  transform-origin: top left;
  animation: shooting 3s linear forwards;
}

@keyframes shooting {
  to {
    transform: translate(100vw, 100vh) rotate(45deg);
    opacity: 0;
  }
}


@media screen and (max-width: 768px) {
  body {
    overflow-x: auto; /* Permite scroll horizontal en dispositivos táctiles */
  }
}